<section class="py-2">
  <div class="row">
    <div class="col-md-6 text-center">
      <h1 class="display-3 mt-3 pt-5">
        Web Development Ebook
      </h1>
      <p class="lead">learn web development front to back</p>
      <form action="/charge" method="POST">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_HkIfVvGuj3WuL3f8fpGPuSPB" data-amount="2500"
          data-name="Web Development Ebook" data-description="Ebook written by Gainor Bostwick" data-zip-code="true" data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto">
          </script>
      </form>
    </div>
    <div class="col-md-6">
      <img src="/images/book.jpg" alt="book" class="img-fluid">
    </div>
  </div>
</section>