<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <section class="py-5">
    <h1 class="display-3">
      Thank You
    </h1>
    <p class="lead">Your Ebook will be emailed to you shortly</p>
    <a href="/" class="btn btn-dark btn-lg">Go back home</a>
  </section>
</body>

</html>